<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>Vive Sport - Tienda de Ropa en Línea</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <span>Vive Sport</span>
            </div>
            <div class="search">
                <input type="text" id="searchInput" placeholder="Buscar productos...">
            </div>
            <div class="user">
                <img src="./photo_profile.webp" alt="Usuario" class="user-image" onclick="toggleMenu()">
                <div class="user-menu" id="userMenu">
                    <p><strong><%= user.name %></strong></p>
                    <% if (user.isAdmin) { %>
                    <span id="admin-label">Admin</span>
                    <a href="./dashboard">Dashboard</a>
                    <% } %>
                    <a href="/cart">Carrito de Compras</a>
                    <a href="#">Mis compras</a>
                    <a href="#">Editar Perfil</a>
                    <a onclick="logout()">Salir</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <aside>
            <h3>Categorías de productos</h3>
            <ul>
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Pantalones</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Botines</a></li>
                <li><a href="#">Accesorios</a></li>
          
            </ul>
        </aside>
        <h2 id="subtitle">Nuestros productos</h2>
        <div class="product-grid">
      
            <% for (let i=0; i < products.length; i++) { %>
                <% var existInCart = cart.some(id => products[i]._id.toString() === id.toString()) %>
                <div class="product">
                    <a href="/api/product/<%= products[i]._id %>">
                        <img src="<%= products[i].image %>" alt="Producto">
                      </a>
                    <h3><%= products[i].name %></h3>
                    <p><%= products[i].description %>.</p>
                    <p>$<%= products[i].price %></p>
                    <button class="<%= existInCart ? "delete-to-cart" : "" %>" onclick="addProductToCart('<%= products[i]._id %>')">
                        <%= existInCart ? "Sacar del Carrito" : "Agregar al Carrito" %>
                    </button>
                </div>
            <% } %>
           
        </div>

        <div class="pagination">
            <!-- Aquí irá la paginación -->
            <button id="pagination-active">1</button>
            <button>2</button>
            <button>3</button>
         
        </div>
    </main>

    <footer>
        <!-- Contenido del footer -->
        <p>Vive Sport &copy; 2023 MyM Sistemas. Todos los derechos reservados.</p>
    </footer>

    <script>
        function toggleMenu() {
            var userMenu = document.getElementById("userMenu");
            userMenu.style.display = (userMenu.style.display === "flex") ? "none" : "flex";
        }

        async function logout() {
            await fetch('http://localhost:3000/api/logout');
            document.cookie = "token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
            window.location.href = 'http://localhost:3000/login';
        }

        function searchProducts() {
            const searchInput = document.getElementById("searchInput");
            const searchTerm = searchInput.value.toLowerCase();

            const products = document.querySelectorAll('.product');
            products.forEach(product => {
                const productName = product.querySelector('h3').innerText.toLowerCase();
                const isVisible = productName.includes(searchTerm);
                product.style.display = isVisible ? 'block' : 'none';
            });
        }

        const searchInput = document.getElementById("searchInput");
        searchInput.addEventListener("input", searchProducts);
    </script>
    <script src="./scripts/home.js"></script>
</body>
</html>
